	body {
		font-family: tahoma,arial,helvetica,sans-serif;
		font-size:13px;
		padding:0px;
		min-width:800px;

		background:#ffffff;
		color:#000000;
		}

	img {	border-style: none; }

        a:link {color: #000000; text-decoration: underline;}
        a:visited {color: #000000; text-decoration: underline;}


	#content h2 {
		font-size:18px;
		font-weight:bold;
		display: block;
                margin:0px;
        	padding-top:6px;
        	clear:left;
	}

	#content li {margin-bottom: 8px;}

	#content td {
		vertical-align: middle;
	}


	#content p {
		margin-right: 0px;
		margin-bottom: 20px;
		margin-left: 0px;
		margin-top: 0px;
		clear: left;
		}

	#content h2 img {
		float: left;
		width: 100px;
		height: 70px;
		margin-right: 30px;
		margin-bottom: 10px;
		margin-left: 0px;
		margin-top: 0px;
		}

	#sidebar h1 {
		font-size:12px;
		letter-spacing: +2px;
		line-height: 140%;
		margin:0px;
		text-transform: uppercase;
		}

	#sidebar h2 {
		font-size:12px;
		font-weight:bold;
		display: block;
		}


	#title {
		height:80px;
		text-align: center;
		clear:both;
		}

	#submenu {
		border-bottom:2px solid #999999;
		border-top:2px solid #999999;
		clear:both;
	}

	#footer {
		text-align: center;
		margin-top: 20px;
		font-size:8px;
		overflow: hidden;
		clear:both;
		}
