<html>
<link rev="made" href="mailto:ahn@indigo2.medeng.bgsm.edu">
<body bgcolor=000000 text=80f0f0 link=f0f720 vlink=5dff70 alink=490d80 background=../img/stars.gif>

<head><title> sTaTbOy! - Current Season Statistics </title></head>
<h1><center>Current Season (Spring 1996) INL Statistics</center></h1>
<hr>
Hmm.  Well, I've been rather busy the last couple of weeks and
sort of let things slide with the stats.  My apologizes :)  Things
will be back to normal starting later this week.<p>
-Dave 4/7/96<p>
PS.  I'm missing some summaries that were posted to r.g.n.  Our local
newsserver expired all the articles.  If you have copies of those
summaries (or wish to write one) and I don't already have them (check
the links), I'd like to get my hands on them.  Just mail them to
me, and I'll put them in.

<hr>
<li><a href="doc/Information"> Information on how to join the INL</a>
<li><a href="doc/Rosterlist"> INL Team Rosters </a>
<li><a href="doc/Schedule"> Schedule </a>
<li><a href="stats.html"> Player Statistics </a>
<h2> Game Scores </h2>
<p><h3> Division I </h3>
<pre>
<li><a href="Feb22_US_vs_VD/index.html">The Usual Suspects    (away)  def.  99c Value Deal</A>    11-8-1*  Feb 22
<li><a href="Mar02_US_vs_LU/index.html">The Usual Suspects    (home)  def.  LaggU</A>             19-1-0   Mar  2
<li><a href="Mar07_US_vs_HNIC/index.html">The Usual Suspects    (home)  def.  HNIC</a>              16-4-0   Mar  7
<li><a href="Mar10_VD_vs_HNIC/index.html">99 Cent Value Deal    (away)  def.  HNIC</A>              13-7-0   Mar 10
<li><a href="Mar12_VD_vs_LU/index.html">99 Cent Value Deal    (home)  def.  LaggU</a>             17-3-0   Mar 12
<li><a href="Mar18_US_vs_GB/index.html">The Usual Suspects    (away)  def.  Golden Bears</A>      11-8-1*  Mar 18
<li><a href="Mar19_GB_vs_LU/index.html">Golden Bears          (away)  def.  LaggU</a>             11-8-1*  Mar 19
<li><a href="Mar26_HNIC_vs_GB/index.html">Hockey Night in Canad (home)  def.  Golden Bears</A>      12-8-0   Mar 26
<li><a href="Apr02_HNIC_vs_LU/index.html">Hockey Night in Canad (away)  def.  LaggU</A>             11-8-1*  Apr  2
<li><a href="Apr10_VD_vs_GB/index.html">99 Cent Value Deal    (away)  tied  Golden Bears</a>      11-9-0*  Apr 10
</pre>

<p><h3> Division II </h3>
<pre>
<li><a href="Feb28_TA_vs_MO/index.html">Team Asterix          (home)  def.  Magnum Opus</A>       16-4-0   Feb 28
<li><a href="Mar03_ET_vs_TM/index.html">EuroTwinks            (away)  def.  The Milkmen</a>       18-1-1   Mar  3
<li><a href="Mar05_TT_vs_80/index.html">Team Tuber            (home)  def.  Team 80's</A>         14-6-0   Mar  5
<li><a href="Mar13_TT_vs_MO/index.html">Team Tuber            (away)  def.  Magnum Opus</A>       14-6-0   Mar 13
<li><a href="Mar14_TT_vs_SP/index.html">Team Tuber            (home)  geno  *SMACK!* Pack</A>     19-0-1   Mar 14
<li><a href="Mar17_TT_vs_ET/index.html">Team Tuber            (away)  def.  EuroTwinks</A>        14-5-1   Mar 17
<li><a href="Mar20_TT_vs_TA/index.html">Team Tuber            (home)  def.  Team Asterix</A>      12-6-2   Mar 20
<li><a href="Mar24_80_vs_TM/index.html">Team 80's             (home)  def.  The Milkmen</a>       11-8-1*  Mar 24
<li><a href="Mar27_80_vs_SP/index.html">Team 80's             (home)  def.  *SMACK!* Pack</A>     11-8-1   Mar 27
<li><a href="Mar28_TT_vs_TM/index.html">Team Tuber            (away)  geno  The Milkmen</A>       19-0-1   Mar 28
<li><a href="Mar31_80_vs_MO/index.html">Team 80's             (away)  def.  Magnum Opus</A>       13-7-0   Mar 31
<li><a href="Apr03_SP_vs_TM/index.html">*SMACK!* Pack         (away)  def.  The Milkmen</a>       11-8-1*  Apr  3
<li><a href="Apr04_ET_vs_SP/index.html">EuroTwinks            (away)  def.  *SMACK!* Pack</a>     19-1-0   Apr  4
<li><a href="Apr08_TA_vs_80/index.html">Team Asterix          (away)  geno  Team 80's</A>         17-0-3   Apr  8
<li><a href="Apr12_TM_vs_MO/index.html">The Milkmen           (home)  def.  Magnum Opus</A>       11-8-1*  Apr 12
<li><a href="Apr14_TA_vs_TM/index.html">Team Asterix          (home)  geno  The Milkmen</A>       17-0-3   Apr 14
<li><a href="Apr14_ET_vs_MO/index.html">EuroTwinks            (away)  def.  Magnum Opus</A>       15-5-0   Apr 14
<li><a href="Apr15_TA_vs_ET/index.html">Team Asterix          (away)  def.  EuroTwinks</A>        12-8-0   Apr 15
<li><a href="Apr15_MO_vs_SP/index.html">Magnum Opus           (away)  def.  *SMACK!* Pack</a>     12-8-0   Apr 15
<li><a href="Apr17_TA_vs_SP/index.html">Team Asterix          (home)  geno  *SMACK!* Pack</A>     17-0-3   Apr 17
<li><a href="Apr21_ET_vs_80/index.html">EuroTwinks            (home)  def.  Team 80's</a>         16-4-0   Apr 21
</pre>

<p><h3> Playoffs </h3>
<pre>
<li><a href="Apr23_VD_vs_TT/index.html">99 Cent Value Deal    (away)  def.  Team Tuber</a>        11-8-1   Apr 23
<li><a href="Apr27_TA_vs_US/index.html">Team Asterix          (away)  tied  The Usual Suspects</a>10-9-1   Apr 27
<li><a href="Apr27_US_vs_TA/index.html">The Usual Suspects    (home)  def.  Team Asterix</a>      11-8-1*  Apr 27
</pre>

<p><h3> Championship </h3>
<pre>
<li><a href="May01_VD_vs_US/index.html">99 Cent Value Deal    (away)  def.  The Usual Suspects</A>13-7-0   May  1
</pre>
<p><h3> Incoming Games </h3>
<pre>
<li><a href="Jun20_001315_Team80sRockYou_vs_Team80sA/index.html">Team 80's Rock You    (away)  def.  Team 80's (A)</A>     19-1-0   Jun 20
<li><a href="Jun30_185236_MotU_vs_Team80s/index.html">MotU                  (away)  geno  Team 80's</A>         19-0-1   Jun 30
<li><a href="Jul7_185342_ET_vs_DOOM/index.html">ET                    (away)  def.  DOOM</A>              17-3-0   Jul  7
<li><a href="Jul9_200509_TeamAle_vs_goldenbears/index.html">Team Ale!             (away)  def.  golden bears</A>      11-8-1   Jul  9
<li><a href="Jul11_205705_GoldenBears_vs_DOOM/index.html">Golden Bears          (away)  geno  DOOM</A>              18-0-2   Jul 11
<li><a href="Jul14_190414_MotU_vs_MagnumOpus/index.html">MotU                  (home)  def.  Magnum Opus</A>       18-2-0   Jul 14
<li><a href="Jul15_234821_ToolTime_vs_MadFUCKINGCows/index.html">Tool Time!!           (home)  def.  Mad FUCKING Cows</A>  13-7-0   Jul 15
<li><a href="Jul18_021747_EuroTwinks_vs_SMACKPack/index.html">EuroTwinks            (home)  def.  *SMACK!* Pack</A>     13-6-1   Jul 18
<li><a href="Jul21_191544_ToolTime_vs_Team80s/index.html">Tool Time!!           (home)  def.  Team 80's</A>         19-1-0   Jul 21
<li><a href="Jul22_224728_ToolTime_vs_MagnumOpus/index.html">Tool Time!!           (away)  geno  Magnum Opus</A>       19-0-1   Jul 22
